@import "./static/styles/base/variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $headerZindex;
  padding: 24px 0;
  background: linear-gradient(
    180deg,
    rgba($colorBlack, 0.8) 0%,
    rgba($colorBlack, 0) 100%
  );
  // transform: translateY(-100%);
  opacity: 0;

  &-content {
    display: flex;
    justify-content: space-between;

    &-list {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      max-width: 540px;
      width: 100%;
      align-items: center;

      &-item {
        font-size: 15px;
        line-height: 24px;
        color: $colorWhite;
        letter-spacing: 1px;
        font-family: $fontHellix;
        text-transform: uppercase;
        cursor: pointer;
        transition: $timeMedium;
        position: relative;
        align-items: center;
        display: flex;
        padding: 16px 8px;

        &__text {
          position: relative;
          overflow: hidden;
          margin: auto 0;
          display: flex;
          visibility: hidden;

          &::before,
          &::after {
            visibility: visible;
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            white-space: nowrap;
            transform: translate3d(-50%, -50%, 0);
            transition: $timeMedium;
          }

          &::after {
            transform: translate3d(-50%, 50%, 0);
            opacity: 0;
          }
        }

        &:hover {
          opacity: 0.8;

          .header-content-list-item__text {
            &::before {
              transform: translate3d(-50%, -150%, 0);
              opacity: 0;
            }

            &::after {
              transform: translate3d(-50%, -50%, 0);
              opacity: 1;
            }
          }
        }

        &:active {
          opacity: 0.9;
        }
      }
    }

    &__button {
      max-width: 160px;
      width: 100%;
      margin-left: 56px;
      position: relative;
    }
  }
}
