@import "./static/styles/base/variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $headerZindex;
  padding: 24px 0;
  background: linear-gradient(
    180deg,
    rgba($colorBlack, 0.8) 0%,
    rgba($colorBlack, 0) 100%
  );
  opacity: 0;
  height: 104px;

  @media (max-width: 800px) {
    background: none;
    height: 87px;
    padding: 30px 0 0;
  }

  :global {
    .container {
      height: 100%;
    }
  }

  &-button {
    border-radius: 50%;
    background-color: $colorWhite;
    display: flex;
    margin-left: auto;
    z-index: 999;
    padding: 16px;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    &__line {
      border-radius: 2px;
      width: 25px;
      height: 5px;
      background-color: $colorBlack;
      transition: $timeMedium ease-out;
    }

    &__top {
      margin-bottom: 5px;

      &--active {
        opacity: 0;
      }
    }

    &__middle {
      margin-bottom: 5px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $colorBlack;
        transition: $timeMedium ease-out;
        border-radius: 2px;
      }

      &--active {
        transform: rotate(45deg);

        &:before {
          transform: rotate(90deg);
        }
      }
    }

    &__bottom {
      &--active {
        opacity: 0;
      }
    }
  }

  &__menu-wrapper {
    transition: $timeMedium ease-out;
    visibility: hidden;
    opacity: 0;
    margin-top: -87px;

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &-list {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      max-width: 540px;
      width: 100%;
      align-items: center;

      &-item {
        font-size: 15px;
        line-height: 24px;
        color: $colorWhite;
        letter-spacing: 1px;
        font-family: $fontHellix;
        text-transform: uppercase;
        cursor: pointer;
        transition: $timeMedium;
        position: relative;
        align-items: center;
        display: flex;
        padding: 16px 8px;

        &__text {
          position: relative;
          overflow: hidden;
          margin: auto 0;
          display: flex;
          visibility: hidden;

          &::before,
          &::after {
            visibility: visible;
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            white-space: nowrap;
            transform: translate3d(-50%, -50%, 0);
            transition: $timeMedium;
          }

          &::after {
            transform: translate3d(-50%, 50%, 0);
            opacity: 0;
          }
        }

        &:hover {
          opacity: 0.8;

          .header-content-list-item__text {
            &::before {
              transform: translate3d(-50%, -150%, 0);
              opacity: 0;
            }

            &::after {
              transform: translate3d(-50%, -50%, 0);
              opacity: 1;
            }
          }
        }

        &:active {
          opacity: 0.9;
        }
      }
    }

    &__button {
      max-width: 160px;
      width: 100%;
      margin-left: 56px;
      position: relative;
    }
  }
}
