@import "./static/styles/base/variables";

.experience {
  background: $colorFourthBlack;
  color: $colorWhite;
  position: relative;
  padding: 0px 0 120px;

  @media (max-width: 1024px) {
    padding: 0px 0 96px;
  }

  @media (max-width: 768px) {
    padding: 0px 0 64px;
  }

  &-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    :global {
      .item {
        opacity: 0;
        transform: translateY(50%);
      }
    }
    &-block {
      max-width: 720px;
      width: 100%;

      @media (max-width: 1260px) {
        max-width: 57%;
      }

      @media (max-width: 800px) {
        max-width: 100%;
      }

      &__title {
        margin-bottom: 32px;
      }

      &-accordion {
        margin-bottom: 72px;

        @media (max-width: 800px) {
          margin-bottom: 48px;
        }

        @media (max-width: 480px) {
          margin-bottom: 40px;
        }
      }

      &-card {
        width: 100%;
        display: flex;

        @media(max-width: 800px){
          margin-bottom:48px;
        }

        &__image {
          max-width: 120px;
          width: 100%;
          height: auto;
        }

        &-text {
          margin-left: 92px;

          &__position {
            font-size: 22px;
            line-height: 32px;
            font-family: $fontHellix;
            font-weight: 700;
            margin-bottom: 4px;
          }

          &__place {
            font-size: 18px;
            line-height: 32px;
            font-family: $fontHellix;
            span {
              font-weight: 700;
            }
          }

          &__year {
            font-size: 17px;
            line-height: 32px;
            font-family: $fontHellix;
          }
        }
      }
    }

    &-what {
      max-width: 480px;
      width: 100%;
      background: $colorPrimaryBlue;
      padding: 72px;
      border-radius: 80px;
      box-shadow: rgba($colorSecondaryBlue, 0.5) 0px 8px 24px;
      height: fit-content;

      @media (max-width: 1260px) {
        max-width: 40%;
      }

      @media (max-width: 1024px) {
        padding: 48px;
        border-radius: 48px;
      }

      @media(max-width: 800px){
        max-width: 100%;
      }

      &-item {
        &:not(:last-child) {
          margin-bottom: 16px;
        }

        &__title {
          font-size: 22px;
          line-height: 32px;
          font-family: $fontHellix;
          font-weight: 700;
          margin-bottom: 4px;
        }

        &__description {
          font-size: 18px;
          line-height: 32px;
          font-family: $fontHellix;
          font-weight: 400;
          color: $colorPressedGrey;
        }
      }
    }
  }
}
