@import "./static/styles/base/variables";

.experience {
  background: $colorFourthBlack;
  color: $colorWhite;
  position: relative;
  padding: 0px 0 120px;
  overflow: hidden;


  &-content{
    display:flex;
    justify-content:space-between;

    &-block{
      max-width:720px;
      width: 100%;
    }
  }
}
