$fontHellix: "Hellix", sans-serif;

$colorWhite: #fff;
$colorBlack: #000;
$colorTransp: transparent;
$colorPrimaryBlack: #20232a;
$colorHoverGrey: #505e68;
$colorPressedGreyButton: #909fa9;
$colorPressedBlack: #2c343a;
$colorPressedGrey: #f3f5fa;
$colorActiveGrey: #cad2d6;
$colorSecondaryBlack: #131416;
$colorTertiaryBlack: #18191b;
$colorFourthBlack: #0b0b0d;
$colorPrimaryBlue: #2502c5;
$colorSecondaryBlue: #2900e8;
$colorErrorRed: #da1b41;

$timeFast: 0.15s;
$timeMedium: 0.3s;
$modalZindex: 99999999;
$headerZindex: 999999;
