@import "./static/styles/base/variables";

.hero {
  position: relative;
  background: black;
  height: 100vh;
  min-height: 700px;
  color: white;
  display: flex;
  width: 100%;

  :global {
    .container {
      display: flex;
    }

    .char {
      transform: translateY(100%);
      // transition: transform 0.1s;
      opacity: 0;
    }

    .animation-opacity {
      transition: transform 0.5s;
      opacity: 0;
    }
  }

  &__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 120px;

    &__name {
      font-family: $fontHellix;
      font-size: 112px;
      line-height: 112px;
      font-weight: 700;
      margin-bottom: 8px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      @media (max-width: 480px) {
        font-size: 48px;
        line-height: 72px;
      }
    }

    &__position {
      font-family: $fontHellix;
      font-size: 30px;
      line-height: 48px;
      font-weight: 400;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      margin-bottom: 16px;

      @media (max-width: 480px) {
        font-size: 22px;
        line-height: 40px;
      }
    }

    &__description {
      font-family: $fontHellix;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 32px;
      max-width: 700px;
      width: 100%;
      color: $colorPressedGreyButton;
      opacity: 0;
    }
  }
}
