@import "./static/styles/base/variables";

.about {
  background: linear-gradient(
    180deg,
    rgba($colorBlack, 1) 0%,
    rgba($colorFourthBlack, 1) 20%,
    rgba($colorFourthBlack, 1) 100%
  );
  color: $colorWhite;
  position: relative;
  padding: 120px 0;
  margin-top: -1px;

  @media (max-width: 1024px) {
    padding: 96px 0;
  }

  @media (max-width: 768px) {
    padding: 64px 0;
  }

  @media (max-width: 480px) {
    padding: 40px 0 64px;
  }

  &-content {
    position: relative;

    &__title {
      margin-bottom: 16px;
    }

    &__description {
      font-family: $fontHellix;
      letter-spacing: 1px;
      margin-bottom: 64px;
      font-size: 18px;
      line-height: 32px;

      @media (max-width: 480px) {
        margin-bottom: 48px;
        font-size: 17px;
      }
    }

    &-list {
      display: block;

      &-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        height: 248px;

        @media (max-width: 1260px) {
          height: auto;
        }

        @media (max-width: 800px) {
          flex-direction: column;
          margin-bottom: 40px;
          transform: translateY(25%);
          opacity: 0;
        }

        &-left {
          max-width: 50%;
          width: 100%;
          padding: 32px 80px;
          transform: translateX(50%);
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media (max-width: 800px) {
            transform: translateX(0%);
            max-width: 100%;
            padding: 24px 40px;
          }

          &__background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $colorTertiaryBlack;
            border-radius: 80px;
            z-index: -1;

            @media (max-width: 800px) {
              border-radius: 40px 40px 0 0;
            }
          }

          &__title {
            margin-bottom: 8px;
            font-size: 26px;
            line-height: 48px;
            font-weight: 700;
            font-family: $fontHellix;
            letter-spacing: 1px;

            @media (max-width: 480px) {
              font-size: 22px;
              line-height: 40px;
            }

            &--center {
              align-items: center;
              height: 100%;
              display: flex;
              font-size: 48px;
              line-height: 72px;
              margin-bottom: 0;

              @media (max-width: 800px) {
                font-size: 30px;
                line-height: 48px;
              }

              @media (max-width: 480px) {
                font-size: 22px;
                line-height: 40px;
              }
            }
          }

          &__subtitle {
            font-family: $fontHellix;
            font-size: 17px;
            line-height: 32px;
          }
        }

        &-right {
          max-width: 50%;
          width: 100%;
          background: $colorWhite;
          border-radius: 80px;
          padding: 32px 80px;
          display: flex;
          align-items: center;
          transform: translateX(-50%);

          @media (max-width: 800px) {
            transform: translateX(0%);
            max-width: 100%;
            padding: 24px 40px;
            border-radius: 0 0 40px 40px;
          }

          &-sublist {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 1260px) {
              justify-content: flex-start;
            }

            &-item {
              max-width: 62px;
              width: 100%;
              padding: 8px;

              &__icon {
                width: 100%;
                margin-bottom: 8px;

                img {
                  width: 100%;
                  height: auto;
                }
              }

              &__text {
                color: $colorFourthBlack;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
              }
            }
          }

          &__description {
            color: $colorTertiaryBlack;
            font-family: $fontHellix;
            font-size: 17px;
            line-height: 32px;

            @media (max-width: 480px) {
              color: $colorBlack;
            }
          }
        }
      }
    }
  }
}
