@import "./static/styles/base/variables";

.works {
  position: relative;
  background: $colorFourthBlack;
  overflow: hidden;
  padding: 0;
  padding:0 0 120px  0;

  &-content {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    // position: relative;

    &__image {
      max-width: 540px;
      width: 100%;
      // position: absolute;
      // top: 0;
      // right: 0;
      // margin: 0;
      // left: 50%;
      // // opacity: 0;
      // // visibility: hidden;

      img {
        // border-radius: 80px;
      }
    }
    &-list {
      display: block;
      position: relative;

      &-item {
        display: flex;
        overflow: hidden;
        width: 100%;
        justify-content: space-between;
        // height: 540px;
        // padding: 0px 0 480px;
        // padding: 200px 0 280px;

        &:not(:last-child) {
          padding-bottom: 56px;
        }

        &-text {
          max-width: 540px;
          width: 100%;
          color: $colorWhite;
          margin: auto 0;
          // padding: 240px 0;
          &__title {
            font-size: 48px;
            line-height: 72px;
            font-family: $fontHellix;
            margin-bottom: 16px;
          }

          &__description {
            font-size: 18px;
            line-height: 32px;
            font-family: $fontHellix;
          }
        }

        &__image {
          max-width: 540px;
          width: 100%;

          // margin: 0;
          // left: 50%;
          // // opacity: 0;
          // // visibility: hidden;
    
          img {
            border-radius: 80px;
          }
        }
      }
    }
  }
}
