@import "./static/styles/base/variables";

.questions {
  background: $colorFourthBlack;
  color: $colorWhite;
  position: relative;
  overflow: hidden;
  z-index: 2;

  :global {
    .video {
      transform: none;
      opacity: 0.9;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      @media (max-width: 1240px) {
        transform: scale(2);
      }
      @media (max-width: 980px) {
        transform: scale(3);
      }

      @media (max-width: 640px) {
        transform: scale(4);
      }

      @media (max-width: 570px) {
        transform: scale(6);
      }

      @media (max-width: 420px) {
        transform: scale(8);
      }

      @media (max-width: 365px) {
        transform: scale(10);
      }
    }
  }

  &__wrapper {
    padding: 120px 0;

    @media (max-width: 1024px) {
      padding: 96px 0;
    }

    @media (max-width: 768px) {
      padding: 48px 0 72px;
    }
  }

  &__title {
    margin-bottom: 64px;
    text-align: center;
    z-index: 1;
    position: relative;
    @media (max-width: 768px) {
      margin-bottom: 56px;
    }

    @media (max-width: 480px) {
      margin-bottom: 40px;
    }
  }

  &-list {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
