@import "./static/styles/base/variables";

.works {
  position: relative;
  background: $colorFourthBlack;
  padding: 120px 0;

  :global {
  }

  &-list {
    display: block;

    &-item {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 56px;
      }

      &-text {
        max-width: 540px;
        width: 100%;
        color: $colorWhite;
        margin: auto 0;
        &__title {
          font-size: 48px;
          line-height: 72px;
          font-family: $fontHellix;
          margin-bottom: 16px;
        }

        &__description {
          font-size: 18px;
          line-height: 32px;
          font-family: $fontHellix;
        }
      }

      &__image {
        max-width: 540px;
        width: 100%;
        overflow: hidden;
        height: fit-content;
        position: relative;

        img {
          border-radius: 80px;
        }
      }
    }
  }
}
