@import "./static/styles/base/variables";

.accordion {
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  padding-bottom: 16px;
  border-bottom: 1px solid $colorActiveGrey;
  margin-right: 32px;

  @media (max-width: 1260px) {
    margin-right: 0px;
  }

  &:not(:last-child) {
    margin-bottom: 56px;
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;

    &--active {
      .accordion-item-content-text__tooling {
        opacity: 0;
        transform: translateY(50%);
      }
    }

    &-content {
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
      }

      &__image {
        max-width: 180px;
        width: 100%;
        height: auto;
        @media (max-width: 600px) {
          margin-bottom: 16px;
        max-width: 120px;

        }
      }

      &-text {
        margin-left: 32px;
        @media (max-width: 600px) {
          margin-left: 0px;
        }

        &__position {
          font-size: 22px;
          line-height: 32px;
          font-family: $fontHellix;
          font-weight: 700;
          margin-bottom: 4px;

          @media (max-width: 600px) {
            font-size: 18px;
          }
        }

        &__company {
          font-size: 18px;
          line-height: 32px;
          font-family: $fontHellix;

          @media (max-width: 600px) {
            font-size: 17px;
          }
          span {
            font-weight: 700;
          }
        }

        &__time {
          font-size: 17px;
          line-height: 32px;
          font-family: $fontHellix;
        }

        &__tooling {
          font-family: $fontHellix;
          transition: $timeMedium ease-out;
          font-size: 17px;
          line-height: 32px;
          color: $colorActiveGrey;
        }
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      position: absolute;
      bottom: -24px;
      right: 0;
      background: $colorFourthBlack;
      padding: 24px 0 24px 39px;
      transition: $timeMedium ease-out;

      @media (max-width: 800px) {
        bottom: -20px;
      }

      &:hover {
        transform: translateY(4px);
      }

      &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 2px;
        left: 25%;
        top: 50%;
        transform: translate(0%, -50%) rotate(45deg);
        background: $colorActiveGrey;
        border-radius: 4px;

        transition: $timeMedium cubic-bezier(0.25, 1.7, 0.35, 0.8);
      }

      &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 2px;
        right: 25%;
        top: 50%;
        transform: translate(0%, -50%) rotate(-45deg);
        background: $colorActiveGrey;
        border-radius: 4px;
        transition: $timeMedium cubic-bezier(0.25, 1.7, 0.35, 0.8);
      }

      &--active {
        &:after {
          transform: translate(0%, -50%) rotate(45deg);
          background: $colorWhite;
        }
        &:before {
          background: $colorWhite;
          transform: translate(0%, -50%) rotate(-45deg);
        }
      }
    }
  }

  &-hidden_content {
    padding: 0px 56px 0px 212px;
    height: 0;
    overflow: hidden;
    transition: $timeMedium ease-out;
    display: block;
    color: $colorPressedGrey;
    opacity: 0;
    transform: translateY(-32px);

    @media (max-width: 1160px) {
      padding: 0px;
    }

    &--active {
      transform: translateY(-16px);
      opacity: 1;
    }

    &__title {
      font-family: $fontHellix;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      transition: $timeMedium ease-out;
      color: $colorActiveGrey;
    }

    &__text {
      font-size: 17px;
      line-height: 32px;
      font-family: $fontHellix;
      margin-bottom: 16px;
    }

    ul {
      padding-inline-start: 30px;
      margin: 0;

      li {
        font-size: 17px;
        line-height: 32px;
        font-family: $fontHellix;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
